<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Кубики</title>
<style>
.square1 {
transform: rotate(40deg);
position: relative;
top:50px;
left:150px;
width: 120px;
height: 120px;
background: #1faee9;
square;
border-style: solid;
border-radius: 20px
}

.square2 {
transform: rotate(20deg);
position: relative;
top:45px;
left:80px;
width: 120px;
height: 120px;
background: #ffff00;
square;
border-style: solid;
border-radius: 20px
}

.square3 {
transform: rotate(80deg);
position: relative;
top:-75px;
left:225px;
width: 120px;
height: 120px;
background: #ab343a;
square;
border-style: solid;
border-radius: 20px
}

</style>
</head>
<body>
<div class="square1"></div>
<div class="square2"></div>
<div class="square3"></div>
</body>
</html>